# macOS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Directories
CLAUDE

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo
*~
.project
.classpath
.settings/

# Node (falls du später was hinzufügst)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Test files (optional)
tests/
